.config-inputs{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex: 7 7 auto;
    margin-bottom: 30px;
}

.row-align{
    flex-direction: row;
    margin-top: 15px;
}

.column-align{
    flex-direction: column;

}