@import '../../styles/colors.scss';

.config-footer{
    position: relative;
    display: flex;
    justify-content: center;
    button{
        background-color: $blue2;
        font-weight: 700;
        color: $beige1;
        font-size: 25px;
        width: 300px;
        height: 60px;
        margin-right: 40px;
        margin-left: 40px;
    }

    .reestablecer-button{
        button{
            width: 370px;
        }
    }
}