@import '../../styles/colors.scss';

.UpperConfigs{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100vw;
    height: 260px;

    .config-inputs{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: auto;
        width: 77%;
        .Input{
            margin-bottom: 20px;
            input{
                border: 0;
                background-color: transparent;
                font-size: 18px;
                font-weight: 600;
                border-bottom: 3px solid $blue5;
                margin-bottom: 5px;
                text-align: center;
                width: 200px;
            }
        }
    }
}