.Card{
    position: absolute;
    display: flex;
    flex-flow: column wrap;
    margin: 0;
    background-color: white;
    border: 3px solid black;
    border-radius: 10px;
    color: rgb(6, 13, 77);
    width: 500px;
    height: 250px;
    text-align: center;

}

.card-title{
    flex: 1 1 auto;
    margin-bottom: 0px;
}

.Fuerza{
    top: 50px;
    left: 50px;
}

.Distancia{
    top: 50px;
    left: 600px;
}

.Temperatura{
    top: 50px;
    left: 1150px;
}

.TV{
    height: 150px;
    width: 1600px;
    left: 50px;
    top: 350px;
}