.card{
    position: relative;
    display: flex;
    flex-flow: column wrap;
    margin: 0;
    background-color: white;
    border: 3px solid black;
    border-radius: 10px;
    color: rgb(6, 13, 77);
    width: 500px;
    height: 250px;
    text-align: center;

}

.card-title{
    flex: 1 1 auto;
    margin-bottom: 0px;
}

.on{
    background-color: white;
}

.off{
    background-color: #C4C2C4;
}

// .Fuerza{
//     flex: 1 1 auto;
// }

// .Distancia{
//     flex: 2 2 auto;
// }

// .Temperatura{
//     flex: 1 1 auto;
// }

// .TV{
//     height: 150px;
//     width: 1600px;
//     left: 50px;
//     top: 350px;
// }


