.small-button{
    position: relative;
    width: 100px;
    height: 30px;
    background-color: rgba(33, 84, 171, 0.922);
    border: none;
    border-radius: 20px;
    margin-right: 30px;
}

.small-button:hover{
    cursor: pointer;
}
